* {
  margin:0;
  padding:0;
}
 
body {
  background-image: url('/Sports.com/css/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  margin: auto;
  background: #fff; 
  box-shadow: 0px 0px 3px grey; }

.content-form {
  width: 100%;
  color: #f2f2f2;
  padding: 50px; }
  .content-form .formulario {
    width: 100%;
    margin: auto; }
    .content-form .formulario .input {
      position: relative;
      margin-bottom: 32px; }
      .content-form .formulario .input input[type="text"],
      .content-form .formulario .input input[type="email"],
      .content-form .formulario .input input[type="password"] {
        font-family: "Roboto";
        font-size: 16px;
        color: #303F9F;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #BBDEFB; }
        .content-form .formulario .input input[type="text"]:focus, .content-form .formulario .input input[type="text"]:active,
        .content-form .formulario .input input[type="email"]:focus,
        .content-form .formulario .input input[type="email"]:active,
        .content-form .formulario .input input[type="password"]:focus,
        .content-form .formulario .input input[type="password"]:active {
          outline: none;
          border-bottom: 2px solid #303F9F; }
        .content-form .formulario .input input[type="text"].error,
        .content-form .formulario .input input[type="email"].error,
        .content-form .formulario .input input[type="password"].error {
          border-bottom: 2px solid #D32F2F; }
          .content-form .formulario .input input[type="text"].error + label,
          .content-form .formulario .input input[type="email"].error + label,
          .content-form .formulario .input input[type="password"].error + label {
            color: #D32F2F; }
      .content-form .formulario .input label {
        color: #303F9F; }
        .content-form .formulario .input label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }
          .content-form .formulario .input label.label.active {
            top: -12px;
            font-size: 12px;
            line-height: 12px;
            color: #B6B6B6; }
      .content-form .formulario .input.checkbox label, .content-form .formulario .input.radio label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .content-form .formulario .input.checkbox label:hover, .content-form .formulario .input.radio label:hover {
          background: #bbdefb; }
        .content-form .formulario .input.checkbox label:before, .content-form .formulario .input.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #303F9F; }
      .content-form .formulario .input.error label {
        color: #D32F2F; }
        .content-form .formulario .input.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .content-form .formulario .input.error label:before {
          border: 2px solid #D32F2F; }
      .content-form .formulario .input.radio input[type="radio"] {
        display: none; }
        .content-form .formulario .input.radio input[type="radio"]:checked + label:before {
          display: none; }
        .content-form .formulario .input.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #f2f2f2; }
      .content-form .formulario .input.checkbox label:before {
        border-radius: 3px; }
      .content-form .formulario .input.checkbox input[type="checkbox"] {
        display: none; }
        .content-form .formulario .input.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .content-form .formulario .input.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .content-form .formulario input[type="submit"] {
      background: #040755;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .content-form .formulario input[type="submit"]:hover {
        background: #1976D2; }

